<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @idea.question %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @idea.explanation %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
